# --- 编译产物 (Build Artifacts) ---
# 最终的可执行二进制文件
redis_monitor
redis_latency

# 中间的对象文件
*.o
src/bpf/*.o
src/user/*.o

# 自动生成的 eBPF 骨架文件
*.skel.h

# 导出的内核头文件 (因为它是根据当前机器内核生成的，不具有通用性)
vmlinux.h

# --- 编辑器与系统文件 ---
# 常见的编辑器临时文件
*.swp
*~
.vscode/
.idea/

# 操作系统产生的垃圾文件
.DS_Store
Thumbs.db

# --- 调试与日志 ---
*.log